<configuration>

    <conversionRule conversionWord="highlight" converterClass="com.nami.logback.HighlightingCompositeConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJanis>true</withJanis>
        <encoder>
            <pattern>%highlight(%d{HH:mm:ss} [%logger | %level] %msg%n)</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
